<h3>@TempData["message"]</h3>
<div class="jumbotron">
    <div class='log-reg-form'>
        <partial name="Registration"/>
    </div>
    <div class='log-reg-form'>
        <partial name="Login"/>
    </div>
</div>
    